/* universal selector */
body{
    /* border: 2px solid red; */
    margin: 0px;
}

/* header */
.header-container{
    height: 5.5rem;
    background-color: #313131;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    padding-left: 3rem;
    display: flex;
}

/* main container */
.main-container{
    height: calc(100vh - 3.5rem);
    background-color: #d0d0d0;
    color: #000000;
    padding: 6rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* main container ends */

.header-container>*{
    background-color: #747474;
    height: 65%;
    border-radius: 6px;
}

/* colors */
.color-group-container{
    width: 25%;
    margin-right: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.color{
    height: 70%;
    width: 15%;
    border-radius: 4px;
}
.pink{
    background-color: pink;
}
.blue{
    background-color: lightblue;
}
.green{
    background-color: lightgreen;
}
.black{
    background-color: black;
}
/* colors end */

/* add cross lock unlock */
.add-cross-container,.lock-unlock-container{
    width: 10%;
    display: flex;
}
.add-cross-container>*{
    width: 50%;
    height: 100%;
    border-radius: 6px;
}
.lock-unlock-container>*{
    width: 50%;
    height: 100%;
    border-radius: 6px;
}
.add,.cross,.lock,.unlock{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-plus,.fa-close{
    color: white;
}
.active{
    background-color: #ac2020;
}
/* .delete{
    background-color: #ac2020;
} */
/* icons are treated as text  */
.tool_icons{
    font-size:2rem;
    /* boldness */
    font-weight:400;
}
/* add cross lock unlock ends */

/* input fields */
.task_input{
    color: white;
    font-size: 1.5rem;
}
/* input fields end */

/* task cont */
.task-container{
    width: 15rem;
    height: 9rem;
    /* border: 6px solid black; */
    background-color: white;
    margin: 2rem;
}
.task-header{
    height: 0.6rem;
    /* background-color: black; */
}
.task-main{
    padding: 0.5rem;
}
.task-id{
    color: gray;
    margin: 0.2rem;
    margin-left: 0px;
}
.task-text{
    font-size: 1.4rem;
}