/* universal selector */
body{
    /* border: 2px solid red; */
    margin: 0px;
}

/* header */
.header-container{
    height: 5.5rem;
    background-color: #313131;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    padding-left: 3rem;
    display: flex;
}

/* main container */
.main-container{
    height: calc(100vh - 3.5rem);
    background-color: #d0d0d0;
    color: #000000;
    padding: 6rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* main container ends */

.header-container>*{
    background-color: #747474;
    height: 65%;
    border-radius: 6px;
}

/* colors */
.color-group-container{
    width: 20%;
    margin-right: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.color{
    height: 70%;
    width: 15%;
    border-radius: 4px;
}
.pink{
    background-color: pink;
}
.blue{
    background-color: lightblue;
}
.green{
    background-color: lightgreen;
}
.black{
    background-color: black;
}
/* colors end */

/* add cross lock unlock */
.add-cross-container,.lock-unlock-container{
    width: 8%;
    display: flex;
}
.add-cross-container>*{
    width: 50%;
    height: 100%;
    border-radius: 6px;
}
.lock-unlock-container>*{
    width: 50%;
    height: 100%;
    border-radius: 6px;
}
.add,.cross,.lock,.unlock{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-plus,.fa-close{
    color: white;
}
.active{
    background-color: #ac2020;
}
/* .delete{
    background-color: #ac2020;
} */
/* icons are treated as text  */
.tool-icons{
    font-size: 6rem;
}
/* add cross lock unlock ends */

/* input fields */
.task_input{
    color: white;
    font-size: 1.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* input fields end */

/* task cont */
.task-container{
    width: 15rem;
    height: 9rem;
    /* border: 6px solid black; */
    background-color: white;
    margin: 2rem;
}
.task-header{
    height: 0.6rem;
    /* background-color: black; */
}
.task-main{
    padding: 0.5rem;
}
.task-id{
    color: gray;
    margin: 0.2rem;
    margin-left: 0px;
}
.task-text{
    font-size: 1.4rem;
}
.text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    color: #262626;
}

.modal{
    display: none;  /* by default hidden */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */

    /* Fallback color */
    /* background-color: rgb(0,0,0); */
    /* Black w/ opacity */
    /* background-color: rgba(0,0,0,0.4); */
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    width: 50rem;
    height: 20rem;
    position: relative;
    box-shadow: #00000060 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000030 0px -3px 5px;
}
.modal-input{
    background-color: white;
    height: 100%;
    width: 70%;
    display: flex;
    position: absolute;
}
.modal-input>input{
    width: 100%;
    font-size: 2rem;
    margin: 0 auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    color: #333;
}
.modal-input>input::placeholder{
    opacity: 0.5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
}
.modal-color{
    margin-left: 35rem;
    background-color: #464646;
    height: 100%;
    width: 30%;
    position: absolute;
}
.color-container-modal{
    margin-top: 1.5rem;
    position: absolute;
}
.color-modal{
    height: 3rem;
    width: 4.5rem;
    border-radius: 2px;
    margin-top: 1rem;
    margin-left: 5rem;
}

.border-color{
    border: 5px solid red;
}